.header-color {
  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1fddff,
    #ff4b1f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1fddff,
    #ff4b1f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1fddff,
    #ff4b1f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1fddff,
    #ff4b1f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1,
h3 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

#youtube:hover {
  color: red;
}

#linkedin:hover {
  color: #0077b5;
}

#github:hover {
  color: #6cc644;
}

.icons {
  color: white;
  font-size: 7rem;
  padding: 10px;
}

.projects-grid {
  display: flex;
  margin-top: 2em;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  overflow: auto;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen' sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-icons {
  color: black;
  font-size: 5em;
  padding-right: 5rem;
  padding-top: 5rem;
}

.resume-right-col p,
h4,
h5 {
  color: white;
}

.resume-right-col {
  background: #046a38;
  color: #b9975b;
  padding: 2em;
  border-radius: 20px;
}

.grid-about h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.about-header {
  text-align: center;
}

.about-left {
  text-align: center;
  border-radius: 20px;
}

.about-center {
  text-align: center;
}

.about-center h3,
.about-right h3 {
  color: black;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.about-center img {
  float: left;
}

.about-right {
  text-align: center;
  border-radius: 20px;
}

.grid-languages h1,
.grid-languages h2 {
  font-family: 'Inconsolata', monospace;
  color: black;
}

.languages,
.languages-list {
  background: #1fddff;
  text-align: center;
  border-radius: 20px;
}


.languages-list {
  color: black;
}

.languages-skills {
  padding: 2em;
}

.progress {
  margin-top: 1.5em;
  margin-bottom: 10em;}

.progress2 {
  margin-bottom: 9.5em;
}
